#flipbook.strata1 {
  background-image: url('/images/Illustration_GTS-01.jpg');
  background-position: center;
  background-size: 140%;
  height: 100%;
}

#flipbook.strata2 {
  background-image: url('/images/Illustration_GTS-02.jpg');
  background-position: center;
  background-size: 140%;
  height: 100%;
}

#flipbook.strata3 {
  background-image: url('/images/Illustration_GTS-04.jpg');
  background-position: center;
  background-size: 140%;
  height: 100%;
}
