#fakeModal {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% - 1em);
  text-align: center;
  font-size: 5em;
  background: #FFF;
  border-radius: 4px;
  border: 2px solid #333;
  font-family: 'national';
}

#strata0 {
  background-image: url('/images/1010_MessagingFromTheDrillBit_Graphic_2019.jpg');
}

#strata1 {
  background-image: url('/images/1010_MessagingFromTheDrillBit_Graphic_20192.jpg');
}

#strata2 {
  background-image: url('/images/1010_MessagingFromTheDrillBit_Graphic_20193.jpg');
}

#strata3 {
  background-image: url('/images/1010_MessagingFromTheDrillBit_Graphic_20194.jpg');
}

#strata4 {
  background-image: url('/images/1010_MessagingFromTheDrillBit_Graphic_20195.jpg');
}

.flipbook {
  background-position: center;
  background-size: 140%;
  height: 100%;
}

.graphingBlur {
  filter: blur(3px);
}
