.flipbook {
  background-position: center;
  background-size: 140%;
  height: 100%;
}

#strata1 {
  background-image: url('/images/Illustration_GTS-01.jpg');
}

#strata2 {
  background-image: url('/images/Illustration_GTS-02.jpg');
}

#strata3 {
  background-image: url('/images/Illustration_GTS-04.jpg');
}
