#banner {
  height: 100px !important;
  border-radius: 0px !important
}

#bannerHeader {
  font-family: fantasy;
  font-size: 3.5em;
  height: 100px;
  line-height: 100px;
  vertical-align: center;
}
