.chart-container {
  height: 350px;
  width: 90%;
  margin: auto;
}

#scopeContainer {
  background-color: lightgray;
  color: red;
  font-family: fantasy;
  font-style: italic;
  min-width: 1000px;
  width: 85%;
}

#scopeName {
  display: inline;
  border: 4px solid #000;
  border-radius: 8px;
}

#scopeGraph {
  background: #000;
  background-color: #000;
  border-radius: 8px;
}

#scopeContainer img {
  height: 300px;
}

.chart-wrapper {
  height: 300px;
}

.h-30 {
  height: 30%;
}

.national {
  font-family: 'national';
}
